{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}


    {% include 'nav.html' %}


    <div class="container">
        <h3>👋 {{ user.first_name }} {{ user.last_name }}</h3>
        {% if user.is_staff %}

        <p style="margin-top: 1rem">
        <a class="btn btn-warning btn-lg btn-block" href="/admin/" role="button"><i class="bi bi-box-arrow-in-right"></i> Перейти в админ-панель</a>
        <a class="btn btn-dark btn-lg btn-block" href="{% url 'get_csv' %}" role="button"><i class="bi bi-download"></i> Скачать данные о прохождении квестов</a>
        <a class="btn btn-primary btn-lg btn-block" href="/admin/app/question/add/" role="button"><i class="bi bi-plus"></i> Добавить квест</a>
        </p>
        {% else %}
        <p>Проходи задания и знакомься с компанией!</p>
        {% endif %}
    </div>

    <div class="container">
        {% for q in quizzes %}
            <div class="card shadow-sm" style="margin-bottom: 8px">
                <div class="card-body">
                    <h4 class="card-title">{{ q.title }}</h4><a class="card-link" href="{% url 'quiz' q.pk %}">Пройти</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
