<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">

        <a class="navbar-brand" href="{% url 'index' %}" style="font-weight: bold">Worker Help</a>

        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only"></span><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <!--                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">First Item</a></li>-->
                <!--                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Second Item</a></li>-->

            </ul>
            <span class="navbar-text actions"><a class="btn btn-primary btn-danger" href="{% url 'logout' %}" role="button" style="color: white">Выйти</a>

            </span>
        </div>

    </div>
</nav>
