{% extends "base.html" %}
{% block title %}Квест "{{ quiz }}"{% endblock %}
{% load static %}

{% block content %}


    {% include 'nav.html' %}


    <div class="container">

        <h3>Квест «‎{{ quiz }}»{% if percent_of_done == 100 %} <i class="bi bi-check-lg"></i>{% endif %}</h3>
        <p>{{ quiz.text }}</p>

        {% if user.is_staff %}

            <p style="margin-top: 1rem">
                <a class="btn btn-primary btn-lg btn-block" href="/admin/app/quiz/{{ quiz.pk }}/change/" role="button"><i class="bi bi-brush"></i> Редактировать квест</a>
                <a class="btn btn-danger btn-lg btn-block" href="/admin/app/quiz/{{ quiz.pk }}/delete/" role="button"><i class="bi bi-trash"></i> Удалить квест</a>
            </p>
        {% else %}


        {% endif %}
    </div>

    <div class="container " style="margin-bottom: 1rem">
        <div class="card shadow-sm">
            <div class="card-body">
                <p style="margin-bottom: 0.5rem">Прогресс по квесту:</p>

                <div class="progress" style="height: 20px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ percent_of_done }}%;" aria-valuenow="{{ percent_of_done }}" aria-valuemin="0" aria-valuemax="100">{{ percent_of_done }}%</div>
                </div>

            </div>
        </div>
    </div>


    <div class="container">


        {% for q in quiz.question.all %}
            <div class="card shadow-sm" style="margin-bottom: 1rem">
                <img class="card-img-top" src="{{ q.image_url }}" style="width: 100%; height: 12rem; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ q.title }}</h5>
                    <a href="{% url 'question' quiz.pk q.pk %}" class="btn btn-outline-danger"><i class="bi bi-arrow-right"></i> Перейти к вопросу</a>
                </div>
            </div>
        {% endfor %}


    </div>


{% endblock %}
